PassEnv ENVNAME
PassEnv PREFIX_JIRA
PassEnv JIRA_HOST
PassEnv JIRA_USER
PassEnv JIRA_PASS
PassEnv JIRA_BEARER_TOKEN_FOR_DOWNLOAD
PassEnv TOKEN_BASED_AUTH
PassEnv JIRA_ID_FIELD_TICKET_ID
PassEnv JIRA_ID_FIELD_TICKET_NUMBER
PassEnv JIRA_ID_FIELD_LAST_SENT
PassEnv JIRA_ACCOUNT_ID_IGNORE_ATTACH
PassEnv JIRA_EMAIL_ADDRESS_USER_NEXI
PassEnv SERVICE_NOW_CLIENT_ID
PassEnv SERVICE_NOW_CLIENT_SECRET
PassEnv SERVICE_NOW_URL_OAUTH_TOKEN
PassEnv SERVICE_NOW_URL_ATTACH
PassEnv SERVICE_NOW_URL_CREATE
PassEnv SERVICE_NOW_URL_CLOSE
PassEnv SERVICE_NOW_URL_ASSIGN
PassEnv SERVICE_NOW_URL_COMMENT
PassEnv USE_PAGOPA_FORWARDER
PassEnv FORWARDER_SUBSCRIPTION_KEY
PassEnv FORWARDER_URL
PassEnv USE_MTLS
PassEnv CERTIFICATE_KEY
PassEnv CERTIFICATE_PUBLIC
PassEnv JIRA_ID_TYPE_INCIDENT
PassEnv JIRA_ID_TYPE_REQUEST
PassEnv SERVICE_NOW_ACCOUNT_CN
PassEnv CERTIFICATE_FORMAT




# Turn on the RewriteEngine
RewriteEngine On

#  Redirect to index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . index.php